# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/
ENV/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore other unnecessary files
*.log
*.tmp
*.bak